{% extends 'scrumyapp/base.html' %} {% block user %} {{user.first_name}} {{user.last_name}} {% endblock %} {% block content %}
<div class="form-container">
    {% if message %}
    <h2>message</h2>
    {% else %}
    <h2>Change Goal Status </h2>
    <form action="" method="post">
        {% csrf_token %} {% for field in form %}
        <p> {{field.errors}} </p>
        <div class="form-group row">
            <label for="" class="col-sm-4 col-form-label">{{ field.label_tag }}</label>
            <div class="col-sm-6">
                <div class="form-controls">{{ field }}</div>
            </div>
        </div>

        {% endfor %}

        <button type="submit">Change Status </button>
    </form>
</div>
{% endif %} {% endblock %}