 {% if goals %}
<h1>All Goals</h1>
<div class="container"></div>
{% for goal in goals %}

<p>{{ goal }}</p>
{% endfor %}
</ul>
{% else %}
<h2>Goals has not been entered </h2>
{% endif %}
</div>
<div>
    <table border="2px solid red" padding="10px">
        <thead>
            <th> </th>
            <th> User</th>
            <th> </th>
            <th> Weekly Goals </th>
            <th> Daily Goals </th>
            <th> Verify </th>
            <th> Done </th>
        </thead>
        <tbody>
            <tr>
                <td> + </td>
                <td> {{user}} </td>
                <td> + </td>
                <td> {{ user_goals }} </td>
                <td> </td>
                <td> </td>
                <td> </td>
            </tr>
        </tbody>
    </table>
</div>