{% extends 'scrumyapp/base.html' %} {% load staticfiles %} {% block content %}
<div>
    <table border="2px solid red" padding="10px">
        <thead>
            <th> </th>
            <th> User</th>
            <th> </th>
            <th> Weekly Goals </th>
            <th> Daily Goals </th>
            <th> Verify </th>
            <th> Done </th>
        </thead>
        <tbody>
            {% if users %} {% for user in users %}
            <tr>
                <td><a href="{% url 'scrumy:add_user' %}">+</a></td>
                <td> {{user}} </td>
                <td> <a href="{% url 'scrumy:add_task' %}">+</a> </td>

                <td>
                    {% for goal in user.get_weekly_goals %} {{ goal }} <br> {% endfor %}
                </td>

                <td>
                    {% for goal in user.get_daily_goals %} {{ goal }} <br> {% endfor %}
                </td>
                <td>
                    {% for goal in user.get_verified_goals %} {{ goal }} <br> {% endfor %}
                </td>
                <td>
                    {% for goal in user.get_done_goals %} {{ goal }} <br> {% endfor %}
                </td>
            </tr>
            {% endfor %} {% else %}
            <h2>No users found </h2>
            {% endif %}
        </tbody>
    </table>
</div>
{% endblock %}